#login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    #login-panel {
        display: flex;
        justify-content: center;
    }
}