#login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    #login-panel {
        display: flex;
        justify-content: center;

        .panel-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #login-form {
            margin-top: 30px;
            min-width: 300px;

            .form-item {
                margin-bottom: 7px;
                display: block;
            }

            .login-button {
                margin-right: 0px;
                margin-left: auto;

                padding: 7px 15px;
                background-color: #CC3333;
                border: none;
                border-radius: 3px;

                color: white;
            }
        }
    }
}